---
layout: page
---
{{ content }}
<h2>Recent</h2>
<ul>
  {% if site.posts.size <= 319 %}
    <li>
      <a>
        还没有写文章哦≧ ﹏ ≦
      </a>
    </li>
    {% assign tt = 0%}
    {% capture tt %}{{ site.post.size | minus:300 }}{% endcapture %}
    <a>第9次尝试。size:{{ site.post.size }} ; tt:{{ tt }}</a>
  {% elsif site.posts.size <= 324 %}
    {% assign tt=6 %}
    {% for post in site.posts limit: tt %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>, {{ post.date | date_to_string }}
    </li>
    {% endfor %}
    <li>
      <a href="/archive">
        All {{ site.posts.size | minus:319 }} posts...
      </a>
    </li>
  {% else %}
    {% for post in site.posts limit:5 %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>, {{ post.date | date_to_string }}
    </li>
    {% endfor %}
    <li>
      <a href="/archive">
        All {{ site.posts.size | minus:319 }} posts...
      </a>
    </li>
  {% endif %}
</ul>
<h2>Essay</h2>
{% for tag in site.myindex.showtag %}
  {% if tag == "wu-kan的文章" %}
  <h3>
    {{ tag }}
  </h3>
  <ul>
    <li>
      <a href="/wu-kan">详细...</a>
    </li>
  </ul>
  {% else %}
  <h3>
    {{ tag }}
  </h3>
  <ul>
    {% for post in site.tags[tag] %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
{% endfor %}
